html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  display: block;
  margin: 0;
  text-align: center;
}

section {
  background-color: #eee9de;
  display: block;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;

}

img {
  width: 100%;
  display: block;
}

.image {
  background-color: #eee9de;
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
}

.text {
  background-color: #eee9de;
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
  text-align: left;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Lato, sans-serif;
  margin: .7em 0 .4em;
  padding: 0 0 0 .6em;
}

p {
  font-family: Lato, sans-serif;
  padding: 1em;
  margin: 0;
}

.btn {
  color: #333;
  background-color: #eee9de;
  border-style: solid;
  border-width: .15em;
  border-color: #333;
  border-radius: .5em;
  font-family: Lato, sans-serif;
  font-size: large;
  display: inline-block;
  padding: .4em .75em .5em;
  text-decoration: none;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: .4em;
}

.btn:hover {
  background-color: #666;
  color: #eee9de;
}
